<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">

<listeners>
<listener class-name="FrameworkPractice.TestComponents.Listeners"></listener>
</listeners>

  <test thread-count="5" name="Error Validation login">
    <classes>
      <class name="FrameworkPractice.Test.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Submit order ">
    <classes>
      <class name="FrameworkPractice.Test.SubmitOrderTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
